{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Jungle . Dashboard</title>
    {% include '../includes/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logger/css/logger.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'note/css/note.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/graduates.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/navigation/css/navigationLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboardLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logger/css/loggerLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'note/css/noteLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
  </head>

  <body>
    {% include '../includes/navigationBar.html' %}
    <div class="container">
      <form id="addressesForm"action="{% url 'addStudent' %}" method="POST"> {% csrf_token %}
        <a href="/"><h3>Add Student</h3></a>
        <h4>Full all fields to add student</h4>
        <fieldset>
          <input type="text" id="srange" name="name" placeholder="Student Name" value="">
        </fieldset>
        <fieldset>
          <input type="text" id="erange" name="college" placeholder="College" value="">
        </fieldset>
        <h4>Student Grades</h4>
          <input type="text" id="erange" name="sclass" placeholder="Student Class" value="">
          <input type="hidden" id="erange" name="m1" value="Web Programming">
          <input type="text" id="erange" name="d1" placeholder="Web Programming" value="">
        </fieldset>
          <input type="hidden" id="erange" name="m2" value="Data communiction">
          <input type="text" id="erange" name="d2" placeholder="Data communiction" value="">
        </fieldset>
          <input type="hidden" id="erange" name="m3" value="Linux Operating System">
          <input type="text" id="erange" name="d3" placeholder="Linux Operating System" value="">
        </fieldset>
          <input type="hidden" id="erange" name="m4" value="Wan Technology">
          <input type="text" id="erange" name="d4" placeholder="Wan Technology" value="">
        </fieldset>
          <input type="hidden" id="erange" name="m5" value="Planning For Information Network">
          <input type="text" id="erange" name="d5" placeholder="Planning For Information Network" value="">
        </fieldset>
          <input type="hidden" id="erange" name="m6" value="English">
          <input type="text" id="erange" name="d6" placeholder="English" value="">
        </fieldset>
          <input type="hidden" id="erange" name="m7" value="Project">
          <input type="text" id="erange" name="d7" placeholder="Project" value="">
        </fieldset>
        <button name="submit" type="submit" id="addressesForm-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    </div>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
  </body>

</html>
