{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Jungle . Dashboard</title>
    {% include '../includes/head.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logger/css/logger.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'note/css/note.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/graduates.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'public/navigation/css/navigationLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/dashboardLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'logger/css/loggerLight.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'note/css/noteLight.css' %}">
  </head>

  <body>
    {% include '../includes/navigationBar.html' %}
    <div class="container">
      <form id="addressesForm"action="{% url 'addStudent' %}" method="POST"> {% csrf_token %}
        <a href="/"><h3>Add Student</h3></a>
        <h4>Full all fields to add student</h4>
        <fieldset>
          <input type="text" id="srange" name="name" placeholder="Student Name" value="">
        </fieldset>
        <fieldset>
          <input type="text" id="erange" name="college" placeholder="College" value="">
        </fieldset>
        <button name="submit" type="submit" id="addressesForm-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    </div>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
  </body>

</html>
